{
  "openapi": "3.0.1",
  "info": {
    "title": "Partner API",
    "description": "This is the most current API version",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://api-sandbox.made.com/v3",
      "description": "Stage Sandbox Server"
    },
    { "url": "https://api.made.com/v3", "description": "Live Server" }
  ],
  "security": [
    { "ApiKey": [] },
    { "AuthSignature": [] },
    { "AuthNonce": [] },
    { "AuthTimestamp": [] },
    { "AuthVersion": [] }
  ],
  "paths": {
    "/api/account/{account-number}/balance": {
      "get": {
        "tags": ["Account"],
        "summary": "Get Balance",
        "description": "Find an account balance by account number",
        "parameters": [
          {
            "name": "account-number",
            "in": "path",
            "description": "Required. The Made, LLC account number of your query.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance inquiry was successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BalanceResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/account/{account-number}/loan/balance": {
      "get": {
        "tags": ["Account"],
        "summary": "Get Loan Balance",
        "description": "Find a loan account balance by account number",
        "operationId": "GetLoanBalance",
        "parameters": [
          {
            "name": "account-number",
            "in": "path",
            "description": "Required. The Made, LLC account number of your query.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Loan balance inquiry was successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LoanBalanceResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/account/{account-number}/cash-manager/balance": {
      "get": {
        "tags": ["Account"],
        "summary": "Get Cash Manager Account Balance",
        "description": "Find a cash manager account balance by account number",
        "parameters": [
          {
            "name": "account-number",
            "in": "path",
            "description": "Required. The Made, LLC account number of your query.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance inquiry was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashManagerBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/account/{account-number}/history": {
      "get": {
        "tags": ["Account"],
        "summary": "Get History",
        "description": "Find an account history by account number <br /><br />For header details to rollback to v2 unique_id during migration, see https://developers.made.com/reference/options-for-unique_id-to-assist-v2-v3-migration.",
        "parameters": [
          {
            "name": "account-number",
            "in": "path",
            "description": "Required. The Made, LLC account number of your query.",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "begin-date",
            "in": "query",
            "description": "Optional. The beginning date range for history query; a blank value will default to current day. Note - date fields ignored when is-real-time = true.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "end-date",
            "in": "query",
            "description": "Optional. The ending date range for the history query; a blank value will default to current day. Note - date fields ignored when is-real-time = true.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "sort-order",
            "in": "query",
            "description": "Optional. Sort order for returned records (Ascending/Asc/A or Descending/Desc/D). Defaults to A.",
            "schema": { "type": "string", "default": "A" }
          },
          {
            "name": "unique-id",
            "in": "query",
            "description": "Optional. An identifier for any transaction that posts to the account.",
            "schema": { "type": "string", "default": "" }
          },
          {
            "name": "payment-id",
            "in": "query",
            "description": "Optional. An identifier for any transaction processed via payment rails including US fed wires or swift payments. Date range must include date of corresponding transaction.",
            "schema": { "type": "string", "default": "" }
          },
          {
            "name": "is-real-time",
            "in": "query",
            "description": "Optional. Set to \"true\" to bypass date params and view latest transactions in real-time (50 transactions maximum); Set to \"false\" to view paginated database history, less than 30 seconds delayed. Defaults to false.",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "page-number",
            "in": "query",
            "description": "Optional. Used with page-size to choose a specific page of records to display; defaults to 1.",
            "schema": { "type": "integer", "format": "int32", "default": 1 }
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Optional. When is-real-time flag is \"false,\" page-size designates a number of records per page; defaults to 1000.",
            "schema": { "type": "integer", "format": "int32", "default": 1000 }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance History was successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HistoryResponse" }
              }
            }
          },
          "204": {
            "description": "No content found for specified date range or query key"
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/account/list": {
      "get": {
        "tags": ["Account"],
        "summary": "Get Accounts",
        "description": "Retrieve a list of accounts permissioned to a subscription key, along with services enabled to each account via this subscription",
        "responses": {
          "200": {
            "description": "Account list inquiry was successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CustomerAccountList" }
              }
            }
          },
          "204": {
            "description": "No content found for specified date range or query key"
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/connections": {
      "get": {
        "tags": ["Connections"],
        "summary": "Get External Connections",
        "description": "Get all saved counterparty payment details, including owned external connections<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Get Connections",
        "parameters": [
          {
            "name": "trade-id",
            "in": "query",
            "description": "Optional. The unique id received from a successful POST/quote (marketorder) or POST/trade message",
            "schema": { "type": "integer" }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional. Use a desired currency's ISO code to only see connections with accounts in that currency",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Connections inquiry was successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConnectionsResponse" }
              },
              "application/vnd.made.connections+json": {
                "schema": { "$ref": "#/components/schemas/ConnectionsResponse" }
              },
              "application/vnd.made.connections.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/ConnectionsResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.connections+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.connections.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.connections+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.connections.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.connections+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.connections.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/connections#": {
      "get": {
        "tags": ["Connections"],
        "summary": "Get External Connections for Contacts",
        "description": "Get saved payment details for external counterparties only <br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Get Connections - Contacts",
        "parameters": [
          {
            "name": "trade-id",
            "in": "query",
            "description": "Optional. The unique id received from a successful POST/quote (marketorder) or POST/trade message",
            "schema": { "type": "integer" }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional. Use a desired currency's ISO code to only see connections with accounts in that currency",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Connections inquiry was successful",
            "content": {
              "application/vnd.made.contacts+json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              },
              "application/vnd.made.contacts.hateoas+json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/vnd.made.contacts+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.contacts.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/vnd.made.contacts+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.contacts.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.made.contacts+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.contacts.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/connections##": {
      "get": {
        "tags": ["Connections"],
        "summary": "Get External Connections for External Accounts",
        "description": "Get saved payment details for owned external accounts only<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Get Connections - External Accounts",
        "parameters": [
          {
            "name": "trade-id",
            "in": "query",
            "description": "Optional. The unique id received from a successful POST/quote (marketorder) or POST/trade message",
            "schema": { "type": "integer" }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional. Use a desired currency's ISO code to only see connections with accounts in that currency",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Connections inquiry was successful",
            "content": {
              "application/vnd.made.externalaccounts+json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnedExternalAccountsListResponse"
                }
              },
              "application/vnd.made.externalaccounts.hateoas+json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnedExternalAccountsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/vnd.made.externalaccounts+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.externalaccounts.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/vnd.made.externalaccounts+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.externalaccounts.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.made.externalaccounts+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.externalaccounts.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/quote": {
      "post": {
        "tags": ["Fx"],
        "summary": "FX RFQ",
        "description": "Request for quote on real-time rate of foreign currency trade <br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Quote",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.made.qoute+json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" }
              },
              "application/vnd.made.quote.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/vnd.made.qoute+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.quote.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/vnd.made.qoute+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.quote.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.made.qoute+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.quote.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/quote#": {
      "post": {
        "tags": ["Fx"],
        "summary": "FX Execute Market Order",
        "description": "Execute a market order.<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "MarketOrder",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.made.marketorder+json": {
                "schema": { "$ref": "#/components/schemas/MarketOrderResponse" }
              },
              "application/vnd.made.marketorder.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/MarketOrderResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/vnd.made.marketorder+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.marketorder.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/vnd.made.marketorder+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.marketorder.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.made.marketorder+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.marketorder.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/internal/quote": {
      "post": {
        "tags": ["Fx"],
        "summary": "FX Internal RFQ",
        "description": "Request for quote on real-time rate of foreign currency trade for two owned accounts <br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "QuoteInternal",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InternalQuoteRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/InternalQuoteRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/InternalQuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalQuoteResponse"
                }
              },
              "application/vnd.made.internalqoute+json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalQuoteResponse"
                }
              },
              "application/vnd.made.internalqoute.hateoas+json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalqoute+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalqoute.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalqoute+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalqoute.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalqoute+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalqoute.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/internal/quote#": {
      "post": {
        "tags": ["Fx"],
        "summary": "FX Execute Internal Market Order",
        "description": "Execute a market order on two owned accounts.<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "MarketOrderInternal",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InternalQuoteRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/InternalQuoteRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/InternalQuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/vnd.made.internalmarketorder+json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalMarketOrderResponse"
                }
              },
              "application/vnd.made.internalmarketorder.hateoas+json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalMarketOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/vnd.made.internalmarketorder+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalmarketorder.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/vnd.made.internalmarketorder+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalmarketorder.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/vnd.made.internalmarketorder+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internalmarketorder.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/trade": {
      "get": {
        "tags": ["Fx"],
        "summary": "Get Trades",
        "description": "Get details for trades within a specific date range for an account<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Get Trades",
        "parameters": [
          {
            "name": "account-number",
            "in": "query",
            "description": "Optional. Account number for the request",
            "schema": { "type": "string" }
          },
          {
            "name": "sort-order",
            "in": "query",
            "description": "Optional. Sort order for returned records (Ascending/Asc/A or Descending/Desc/D). Defaults to A.",
            "schema": { "type": "string", "default": "A" }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Optional. Designate a particular source (1 = Partner Api, 2 = made Portal) to display only trades executed via that channel.",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "begin-date",
            "in": "query",
            "description": "Optional. The beginning date range for history query; a blank value will default to current day. Note - date fields ignored when is-real-time = true.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "end-date",
            "in": "query",
            "description": "Optional. The ending date range for the history query; a blank value will default to current day. Note - date fields ignored when is-real-time = true.",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "GET request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TradeListResponse" }
                }
              },
              "application/vnd.made.trade+json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TradeListResponse" }
                }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/TradeListResponse" }
                }
              }
            }
          },
          "204": { "description": "Success" },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      },
      "post": {
        "tags": ["Fx"],
        "summary": "Execute FX Trade",
        "description": "Execute foreign currency trade using an existing quote.<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Trade",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TradeExecutionRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/TradeExecutionRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/TradeExecutionRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeExecutionResponse"
                }
              },
              "application/vnd.made.tradeexecution+json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeExecutionResponse"
                }
              },
              "application/vnd.made.tradeexecution.hateoas+json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeExecutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.tradeexecution+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.tradeexecution.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.tradeexecution+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.tradeexecution.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.tradeexecution+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.tradeexecution.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/internal/trade": {
      "post": {
        "tags": ["Fx"],
        "summary": "Execute FX Internal Trade",
        "description": "Execute foreign currency trade using an existing internal quote.<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "TradeInternal",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InternalTradeExecutionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InternalTradeExecutionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InternalTradeExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTradeExecutionResponse"
                }
              },
              "application/vnd.made.internaltradeexecution+json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTradeExecutionResponse"
                }
              },
              "application/vnd.made.internaltradeexecution.hateoas+json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTradeExecutionResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internaltradeexecution+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internaltradeexecution.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internaltradeexecution+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internaltradeexecution.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internaltradeexecution+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.internaltradeexecution.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/trade/{trade-id}": {
      "get": {
        "tags": ["Fx"],
        "summary": "Get Trade",
        "description": "Get an executed trade by Trade ID <br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Get Trade",
        "parameters": [
          {
            "name": "trade-id",
            "in": "path",
            "description": "Required. The unique id received from a successful POST/quote (marketorder) or POST/trade message.",
            "required": true,
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "200": {
            "description": "GET request was successful",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TradeResponse" }
              },
              "application/vnd.made.trade+json": {
                "schema": { "$ref": "#/components/schemas/TradeResponse" }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/TradeResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.trade.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/payment": {
      "post": {
        "tags": ["Fx"],
        "summary": "Create FX Payment",
        "description": "Initiates an FX payment for an executed Trade ID, using a saved external_account_id <br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FxPaymentRequest" }
            },
            "application/vnd.made.fxpaymentrequest+json": {
              "schema": { "$ref": "#/components/schemas/FxPaymentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/fx/payment#": {
      "post": {
        "tags": ["Fx"],
        "summary": "Create FX Adhoc Payment",
        "description": "Initiates an FX payment for an executed Trade ID, using keyed in beneficiary details <br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "AdhocPayment",
        "requestBody": {
          "content": {
            "application/vnd.made.adhocfxpaymentrequest+json": {
              "schema": { "$ref": "#/components/schemas/FxAdhocPaymentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.fxpayment.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/payment": {
      "get": {
        "tags": ["Payment"],
        "summary": "Get Payments",
        "description": "Retrieves detailed data for all payments within specified date range",
        "operationId": "GetPayments",
        "parameters": [
          {
            "name": "account-number",
            "in": "query",
            "description": "Account number for the request",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "begin-date",
            "in": "query",
            "description": "Required. The begin date range for payments query, which queries the Response entry_date. Timestamp does not factor.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": false
            }
          },
          {
            "name": "end-date",
            "in": "query",
            "description": "Optional. The ending date range for the payments query, which queries the Response entry_date. A blank value will default to current day. \"End_date\" must be within 32 days of \"begin_date\" and timestamp does not factor.",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "sort-order",
            "in": "query",
            "description": "Optional. Sort order for returned records (Ascending/Asc/A or Descending/Desc/D). Defaults to D.",
            "schema": { "type": "string", "default": "D" }
          },
          {
            "name": "page-size",
            "in": "query",
            "description": "Optional. The page-size designates a number of records per page; defaults to 500, which is the maximum.",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "page-number",
            "in": "query",
            "description": "Optional. Used with page-size to choose a specific page of records to display; defaults to 1.",
            "schema": { "type": "integer", "format": "int32" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payments inquiry was successful",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentInfoListResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentInfoListResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentInfoListResponse"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No content found for specified date range or query key"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      },
      "post": {
        "tags": ["Payment"],
        "summary": "Create Payment",
        "description": "Initiates a wire or SWIFT payment",
        "operationId": "PostPayment",
        "requestBody": {
          "description": "<h2 style=\"color: #00BCF8;\">Initiate Payment Model</h2>\r\n<style>\r\n             table, td{\r\n                border: 1px solid black;border-collapse: collapse; text-align: left;\r\n            }\r\n            th{\r\n                border: 1px solid black;border-collapse: collapse; text-align: center;\r\n            }\r\n            td{\r\n                 padding-right: 2px; padding-left:2px;\r\n            }\r\n            </style>\r\n<table width=\"1258\">\r\n  <tbody>\r\n    <tr>\r\n      <th width=\"165\">Field Name</th>\r\n      <th width=\"773\">Description</th>\r\n      <th width=\"70\">Data Type</th>\r\n      <th width=\"75\">Max Length</th>\r\n      <th width=\"100\">Sample</th>\r\n      <th width=\"75\">Opt/Req</th>\r\n    </tr>\r\n    <tr>\r\n      <td>originator_account_number</td>\r\n      <td>The account from which the sending dollar amount debit will occur</td>\r\n      <td>string</td>\r\n      <td>20</td>\r\n      <td>999999999999</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>amount</td>\r\n      <td>The US dollar amount of the transfer</td>\r\n      <td>decimal</td>\r\n      <td>13</td>\r\n      <td>250.50</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_routing_id</td>\r\n      <td>The ABA number of the receiving bank facilitating the transfer</td>\r\n      <td>string</td>\r\n      <td>9</td>\r\n      <td>123456789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_name</td>\r\n      <td>The name of the receiving bank</td>\r\n      <td>string</td>\r\n      <td>35</td>\r\n      <td>Users Bank</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_address1</td>\r\n      <td>The address of the receiving bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>2200 Break St.</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_address2</td>\r\n      <td>The address of the receiving bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#3</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_address3</td>\r\n      <td>The address of the receiving bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>CA, USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_type</td>\r\n      <td>Routing method for ultimate destination of funds</td>\r\n      <td>String</td>\r\n      <td>5</td>\r\n      <td>ABA, SWIFT</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_routing_id</td>\r\n      <td>The SWIFT or ABA or Account number of the intermediary bank facilitating the transfer</td>\r\n      <td>String</td>\r\n      <td>11</td>\r\n      <td>123456789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_name</td>\r\n      <td>The name of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>End Bank</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_address1</td>\r\n      <td>The address of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>2200 Break St.</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_address2</td>\r\n      <td>The address of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#4</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_address3</td>\r\n      <td>The address of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>CA, USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_type</td>\r\n      <td>Routing method for ultimate destination of funds</td>\r\n      <td>String</td>\r\n      <td>5</td>\r\n      <td>ABA, SWIFT</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_routing_id</td>\r\n      <td>This is either the ABA routing number of the beneficiary bank or the SWIFT BIC (Bank Identifier Code) or Account Number</td>\r\n      <td>String</td>\r\n      <td>11</td>\r\n      <td>123456789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_name</td>\r\n      <td>The name of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_address1</td>\r\n      <td>The address of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>2200 Break St.</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_address2</td>\r\n      <td>The address of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#3</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_address3</td>\r\n      <td>The address of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>CA, USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_name</td>\r\n      <td>The name of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>Receivers Bank</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_account_number</td>\r\n      <td>The account number of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td></td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_address1</td>\r\n      <td>The address of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>19567 Some St.</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_address2</td>\r\n      <td>The address of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_address3</td>\r\n      <td>The address of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>Phoenix, AZ USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>originator_to_beneficiary_info</td>\r\n      <td>Comments field can be used to send reference codes</td>\r\n      <td>String</td>\r\n      <td>140</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n    </tr>\r\n  </tbody>\r\n</table>\r\n<h2 style=\"color: #00BCF8;\">Initiate Payment Response</h2>\r\n<table width=\"1258\">\r\n  <thead>\r\n    <tr>\r\n      <th width=\"165\">Field Name</th>\r\n      <th width=\"773\">Description</th>\r\n      <th width=\"70\">Data Type</th>\r\n      <th width=\"75\">Max Length</th>\r\n      <th width=\"175\">Sample</th>\r\n    </tr>\r\n  </thead>\r\n  <tbody>\r\n    <tr>\r\n      <td>payment_id</td>\r\n      <td>Unique identifier assigned by the bank's payment system. It can be used with GET payment to query for a  specific transaction. It is required when using PUT payment to approve, cancel, or return an incoming payment. It is also added to the GET account/history request and response so that it can be used to reference the transaction in the wire system with the associated transaction when it hits the bank account.</td>\r\n      <td>string</td>\r\n      <td align=\"right\">20</td>\r\n      <td>J012345678ABCDEF</td>\r\n    </tr>\r\n    <tr>\r\n      <td>status</td>\r\n      <td>Value indicating status of the payment. Possible values include: \"Pre-Approval\",\"In-Progress\",\"Canceled\", or \"Complete\"</td>\r\n      <td>string</td>\r\n      <td align=\"right\">20</td>\r\n      <td>Pre-Approval</td>\r\n    </tr>\r\n    <tr>\r\n      <td>timestamp</td>\r\n      <td>Most recent timestamp when the status of the payment changed. This value is required along with the payment_id in order to use the PUT operation.</td>\r\n      <td>date time</td>\r\n      <td align=\"right\">23</td>\r\n      <td>YYYY-MM-DD 00:00:00.000</td>\r\n    </tr>\r\n  </tbody>\r\n</table>",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaymentRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/PaymentRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/PaymentRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initiated successfully (Note that if idempotent request repeated, will also generate 201)",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/payment/backup": {
      "post": {
        "tags": ["Payment"],
        "summary": "Create Payment BCP",
        "description": "Initiates a BCP payment record",
        "operationId": "PostPaymentBackup",
        "requestBody": {
          "description": "<h2 style=\"color: #00BCF8;\">Initiate Payment Model</h2>\r\n<style>\r\n             table, td{\r\n                border: 1px solid black;border-collapse: collapse; text-align: left;\r\n            }\r\n            th{\r\n                border: 1px solid black;border-collapse: collapse; text-align: center;\r\n            }\r\n            td{\r\n                 padding-right: 2px; padding-left:2px;\r\n            }\r\n            </style>\r\n<table width=\"1258\">\r\n  <tbody>\r\n    <tr>\r\n      <th width=\"165\">Field Name</th>\r\n      <th width=\"773\">Description</th>\r\n      <th width=\"70\">Data Type</th>\r\n      <th width=\"75\">Max Length</th>\r\n      <th width=\"100\">Sample</th>\r\n      <th width=\"75\">Opt/Req</th>\r\n    </tr>\r\n    <tr>\r\n      <td>originator_account_number</td>\r\n      <td>The account from which the sending dollar amount debit will occur</td>\r\n      <td>string</td>\r\n      <td>20</td>\r\n      <td>999999999999</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>amount</td>\r\n      <td>The US dollar amount of the transfer</td>\r\n      <td>decimal</td>\r\n      <td>13</td>\r\n      <td>250.50</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_routing_id</td>\r\n      <td>The ABA number of the receiving bank facilitating the transfer</td>\r\n      <td>string</td>\r\n      <td>9</td>\r\n      <td>123456789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_name</td>\r\n      <td>The name of the receiving bank</td>\r\n      <td>string</td>\r\n      <td>35</td>\r\n      <td>Users Bank</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_address1</td>\r\n      <td>The address of the receiving bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>2200 Break St.</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_address2</td>\r\n      <td>The address of the receiving bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#3</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>receiving_bank_address3</td>\r\n      <td>The address of the receiving bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>CA, USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_type</td>\r\n      <td>Routing method for ultimate destination of funds</td>\r\n      <td>String</td>\r\n      <td>5</td>\r\n      <td>ABA, SWIFT</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_routing_id</td>\r\n      <td>The SWIFT or ABA or Account number of the intermediary bank facilitating the transfer</td>\r\n      <td>String</td>\r\n      <td>11</td>\r\n      <td>123456789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_name</td>\r\n      <td>The name of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>End Bank</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_address1</td>\r\n      <td>The address of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>2200 Break St.</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_address2</td>\r\n      <td>The address of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#4</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>intermediary_bank_address3</td>\r\n      <td>The address of the intermediary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>CA, USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_type</td>\r\n      <td>Routing method for ultimate destination of funds</td>\r\n      <td>String</td>\r\n      <td>5</td>\r\n      <td>ABA, SWIFT</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_routing_id</td>\r\n      <td>This is either the ABA routing number of the beneficiary bank or the SWIFT BIC (Bank Identifier Code) or Account Number</td>\r\n      <td>String</td>\r\n      <td>11</td>\r\n      <td>123456789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_name</td>\r\n      <td>The name of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_address1</td>\r\n      <td>The address of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>2200 Break St.</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_address2</td>\r\n      <td>The address of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#3</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_bank_address3</td>\r\n      <td>The address of the beneficiary bank</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>CA, USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_name</td>\r\n      <td>The name of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>Receivers Bank</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_account_number</td>\r\n      <td>The account number of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td></td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_address1</td>\r\n      <td>The address of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>19567 Some St.</td>\r\n      <td>Required</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_address2</td>\r\n      <td>The address of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>#789</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>beneficiary_address3</td>\r\n      <td>The address of the beneficiary</td>\r\n      <td>String</td>\r\n      <td>35</td>\r\n      <td>Phoenix, AZ USA</td>\r\n      <td>Optional</td>\r\n    </tr>\r\n    <tr>\r\n      <td>originator_to_beneficiary_info</td>\r\n      <td>Comments field can be used to send reference codes</td>\r\n      <td>String</td>\r\n      <td>140</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n    </tr>\r\n  </tbody>\r\n</table>\r\n<h2 style=\"color: #00BCF8;\">Initiate Payment Response</h2>\r\n<table width=\"1258\">\r\n  <thead>\r\n    <tr>\r\n      <th width=\"165\">Field Name</th>\r\n      <th width=\"773\">Description</th>\r\n      <th width=\"70\">Data Type</th>\r\n      <th width=\"75\">Max Length</th>\r\n      <th width=\"175\">Sample</th>\r\n    </tr>\r\n  </thead>\r\n  <tbody>\r\n    <tr>\r\n      <td>payment_id</td>\r\n      <td>Unique identifier assigned by the bank's payment system. It can be used with GET payment to query for a  specific transaction. It is required when using PUT payment to approve, cancel, or return an incoming payment. It is also added to the GET account/history request and response so that it can be used to reference the transaction in the wire system with the associated transaction when it hits the bank account.</td>\r\n      <td>string</td>\r\n      <td align=\"right\">20</td>\r\n      <td>J012345678ABCDEF</td>\r\n    </tr>\r\n    <tr>\r\n      <td>status</td>\r\n      <td>Value indicating status of the payment. Possible values include: \"Pre-Approval\",\"In-Progress\",\"Canceled\", or \"Complete\"</td>\r\n      <td>string</td>\r\n      <td align=\"right\">20</td>\r\n      <td>Pre-Approval</td>\r\n    </tr>\r\n    <tr>\r\n      <td>timestamp</td>\r\n      <td>Most recent timestamp when the status of the payment changed. This value is required along with the payment_id in order to use the PUT operation.</td>\r\n      <td>date time</td>\r\n      <td align=\"right\">23</td>\r\n      <td>YYYY-MM-DD 00:00:00.000</td>\r\n    </tr>\r\n  </tbody>\r\n</table>",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaymentRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/PaymentRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/PaymentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The idempotent request was previously successfully submitted; new record not created",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          },
          "201": {
            "description": "Payment initiated successfully",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/payment/{payment-id}": {
      "get": {
        "tags": ["Payment"],
        "summary": "Get Payment",
        "description": "Retrieves detailed data for one payment.",
        "operationId": "GetPayment",
        "parameters": [
          {
            "name": "payment-id",
            "in": "path",
            "description": "Required. This unique identifier for payments is found in POST/PATCH/GET payment(s) responses.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment inquiry was successful",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentInfoResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentInfoResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentInfoResponse"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No content found for specified date range or query key"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      },
      "patch": {
        "tags": ["Payment"],
        "summary": "Update Payment",
        "description": "Runs an action on a payment to approve or cancel an initiated payment, or to return a completed inbound payment. Note on returns: PATCH return currently supports returning inbound FED and SWIFT payments, including FX, and some intrabank payments.",
        "operationId": "PatchPayment",
        "parameters": [
          {
            "name": "payment-id",
            "in": "path",
            "description": "Required. Used in POST/PATCH/GET payment(s) responses.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaymentPatchRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/PaymentPatchRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/PaymentPatchRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment update was successful",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/payment/backup/{payment-id}": {
      "patch": {
        "tags": ["Payment"],
        "summary": "Update Payment BCP",
        "description": "Updates a BCP Record with an approval so the record can be processed by the BCP Job",
        "operationId": "PatchPaymentBackup",
        "parameters": [
          {
            "name": "payment-id",
            "in": "path",
            "description": "Required. Used in POST/PATCH/GET payment(s) responses.",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaymentPatchRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/PaymentPatchRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/PaymentPatchRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment update was successful",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/PaymentResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/payment/instructions/{trade-id}": {
      "get": {
        "tags": ["Payment"],
        "summary": "Get Payment Instructions",
        "description": "Get Payment Instructions for Trade<br /><br />For details on retrieving HATEOS links, see https://developers.made.com/reference/hateoas.",
        "operationId": "Payment Instructions",
        "parameters": [
          {
            "name": "trade-id",
            "in": "path",
            "description": "The unique id received from a successful POST/quote (marketorder) or POST/trade message.",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstructionsResponse"
                }
              },
              "application/vnd.made.paymentinstructions+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstructionsResponse"
                }
              },
              "application/vnd.made.paymentinstructions.hateoas+json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInstructionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.paymentinstructions+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.paymentinstructions.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.paymentinstructions+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/vnd.made.paymentinstructions.hateoas+json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/transfer/internal": {
      "post": {
        "tags": ["Transfer"],
        "summary": "Create Internal Transfer",
        "description": "Transfer funds between two owned made accounts.",
        "operationId": "Transfer Internal",
        "requestBody": {
          "description": "<h2 style=\"color: #2e6c80;\">Account Transfer Request Model</h2>\r\n<style>\r\n             table, td, th{\r\n                border: 1px solid black;border-collapse: collapse;\r\n            }\r\n            </style>\r\n<table width=\"1258\">\r\n  <tbody>\r\n    <tr>\r\n      <th width=\"162\">Field Name</th>\r\n      <th width=\"269\">Description</th>\r\n      <th width=\"64\">Data Type</th>\r\n      <th width=\"64\">Length</th>\r\n      <th width=\"79\">Sample</th>\r\n      <th width=\"79\">Opt/Req</th>\r\n      <th width=\"620\">Comments</th>\r\n    </tr>\r\n    <tr>\r\n      <td>SequenceNumber</td>\r\n      <td>The sequence number helps match input requests and output responses, it does not get stored in any transactional record</td>\r\n      <td>Numeric</td>\r\n      <td>8</td>\r\n      <td>1234</td>\r\n      <td>Optional</td>\r\n      <td>Used to reassemble responses, this is for your use only, does not appear in any transactional record, not recallable</td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountNumberFrom</td>\r\n      <td>The account number that money should transfer from</td>\r\n      <td>String</td>\r\n      <td>20</td>\r\n      <td>9999999999</td>\r\n      <td>Required</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountNumberTo</td>\r\n      <td>The account number that money should transfer to</td>\r\n      <td>String</td>\r\n      <td>20</td>\r\n      <td>9999999999</td>\r\n      <td>Required</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>Amount</td>\r\n      <td>The amount of the transfer</td>\r\n      <td>Decimal</td>\r\n      <td>13</td>\r\n      <td>2000</td>\r\n      <td>Required</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>SerialNumber1</td>\r\n      <td>Any number you wish to apply to the transfer record</td>\r\n      <td>String</td>\r\n      <td>15</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>SerialNumber2</td>\r\n      <td>Any number you wish to apply to the transfer record</td>\r\n      <td>String</td>\r\n      <td>15</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountFromDescription2-7</td>\r\n      <td>Description lines for users requesting the transfer to add to the transaction history in the account the money is transferring from</td>\r\n      <td>String</td>\r\n      <td>40</td>\r\n      <td>Transfer on behalf of</td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountToDescription2-7</td>\r\n      <td>Description lines for users requesting the transfer to add to the transaction history in the account the money is transferring to</td>\r\n      <td>String</td>\r\n      <td>40</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n  </tbody>\r\n</table>",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TransferRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/TransferRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/TransferRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Completed successfully (Note that if idempotent request repeated, will also generate 201)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransferResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/transfer/sen": {
      "post": {
        "tags": ["Transfer"],
        "summary": "Create SEN Transfer",
        "description": "Transfer funds across The Made, LLC Exchange Network to counterparty account.",
        "operationId": "Transfer SEN",
        "requestBody": {
          "description": "<h2 style=\"color: #2e6c80;\">Account Transfer Request Model</h2>\r\n<style>\r\n            table, td, th{\r\n               border: 1px solid black;border-collapse: collapse;\r\n            }\r\n            </style>\r\n<table width=\"1258\">\r\n  <tbody>\r\n    <tr>\r\n      <th width=\"162\">Field Name</th>\r\n      <th width=\"269\">Description</th>\r\n      <th width=\"64\">Data Type</th>\r\n      <th width=\"64\">Length</th>\r\n      <th width=\"79\">Sample</th>\r\n      <th width=\"79\">Opt/Req</th>\r\n      <th width=\"620\">Comments</th>\r\n    </tr>\r\n    <tr>\r\n      <td>SequenceNumber</td>\r\n      <td>The sequence number helps match input requests and output responses, it does not get stored in any transactional record</td>\r\n      <td>Numeric</td>\r\n      <td>8</td>\r\n      <td>1234</td>\r\n      <td>Optional</td>\r\n      <td>Used to reassemble responses, this is for your use only, does not appear in any transactional record, not recallable</td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountNumberFrom</td>\r\n      <td>The account number that money should transfer from</td>\r\n      <td>String</td>\r\n      <td>20</td>\r\n      <td>9999999999</td>\r\n      <td>Required</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountNumberTo</td>\r\n      <td>The account number that money should transfer to</td>\r\n      <td>String</td>\r\n      <td>20</td>\r\n      <td>9999999999</td>\r\n      <td>Required</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>Amount</td>\r\n      <td>The amount of the transfer</td>\r\n      <td>Decimal</td>\r\n      <td>13</td>\r\n      <td>2000</td>\r\n      <td>Required</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>SerialNumber1</td>\r\n      <td>Any number you wish to apply to the transfer record</td>\r\n      <td>String</td>\r\n      <td>15</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>SerialNumber2</td>\r\n      <td>Any number you wish to apply to the transfer record</td>\r\n      <td>String</td>\r\n      <td>15</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountFromDescription2-7</td>\r\n      <td>Description lines for users requesting the transfer to add to the transaction history in the account the money is transferring from</td>\r\n      <td>String</td>\r\n      <td>40</td>\r\n      <td>Transfer on behalf of</td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n    <tr>\r\n      <td>AccountToDescription2-7</td>\r\n      <td>Description lines for users requesting the transfer to add to the transaction history in the account the money is transferring to</td>\r\n      <td>String</td>\r\n      <td>40</td>\r\n      <td></td>\r\n      <td>Optional</td>\r\n      <td></td>\r\n    </tr>\r\n  </tbody>\r\n</table>",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TransferRequest" }
            },
            "text/json": {
              "schema": { "$ref": "#/components/schemas/TransferRequest" }
            },
            "application/*+json": {
              "schema": { "$ref": "#/components/schemas/TransferRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Completed successfully (Note that if idempotent request repeated, will also generate 201)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TransferResponse" }
              }
            }
          },
          "400": {
            "description": "There was a problem with the request data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "The caller was not authorized to the request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": { "description": "Server Error" },
          "503": {
            "description": "There is an internal issue with the service"
          }
        }
      }
    },
    "/api/webhook": {
      "get": {
        "tags": ["WebHook"],
        "summary": "Get Webhooks",
        "description": "Returns details for all webhooks for a subscription, with filtering by account_number",
        "parameters": [
          {
            "name": "account-number",
            "in": "query",
            "description": "Optional. The associated made account number of the intended webhook(s).",
            "schema": { "type": "string", "default": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/WebHookListResponse" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebHookListResponse" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/WebHookListResponse" }
              }
            }
          },
          "204": {
            "description": "No Content (Success, no webhooks registered)"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              },
              "text/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
[...]
